@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.header {
  background-color: #ffbf69;
  margin: 0;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  padding: 20px;
  text-transform: uppercase;
}

.navigation__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
}

.navigation__home {
  min-width: 80px;
}

.navigation__item {
  list-style-type: none;
}

.navigation__link {
  color: black;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 60px;
  gap: 30px;
  background-color: #ffbf69;
  text-align: center;
}

.hero__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
  font-weight: 700;
}

.hero__content {
  text-align: center;
  color: white;
}

.hero__button {
  width: 180px;
  height: 40px;
  border: none;
  background-color: #cbf3f0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  gap: 20px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
}

.about__content {
  padding: 0 40px;
}

.sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  gap: 20px;
  background-color: #cbf3f0;
}

.sales__content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sales__title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 10px;
}

.sales__item-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  padding: 0 10px;
}

.sales__item-image {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.sales__item-button {
  margin-top: 10px;
  background-color: #ffbf69;
  width: 120px;
  height: 40px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
